body {
  font-family: Roboto, sans-serif;
}
.feedback-form {
  max-width: 408px;
  max-height: 296px;
  margin: auto;
  padding: 20px;
}
.feedback-form label {
  display: block;
}
.feedback-form label:last-child {
  margin-bottom: 0;
}
.feedback-form input {
  box-sizing: border-box;
  padding: 8px 16px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}
.feedback-form textarea {
  box-sizing: border-box;
  padding: 8px 16px;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 80px;
  resize: none;
  margin-bottom: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}
.feedback-form input:focus,
.feedback-form textarea:focus {
  border-color: #000;
}
.feedback-form button {
  background-color: #4e75ff;
  color: white;

  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  width: 95px;
  height: 40px;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.feedback-form button:hover {
  background-color: #6c8cff;
}
